.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
package-lock.json
.sass-cache
css/reveal.min.css
js/reveal.min.js


.DS_Store
node_modules
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

Gruntfile.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*